/*
 *navbar
 ******************************************************************************/
#button-github {
    background-image: url(../img/github.png);
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
}
/*
 * tables
 ******************************************************************************/
table#offers {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table#offers thead tr th, table#offers tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table#offers thead tr .header {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table#offers tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table#offers tbody tr.odd td {
    background-color:#F0F0F6;
}
table#offers thead tr .headerSortUp {
    background-image: url(../img/asc.gif);
}
table#offers thead tr .headerSortDown {
    background-image: url(../img/desc.gif);
}
table#offers thead tr .headerSortDown, table#offers thead tr .headerSortUp {
    background-color: #8dbdd8;
}

/*
 * filters
 ******************************************************************************/
/* pubdate */
thead .pubdate {
    width: 8%;
    text-align: center;
    vertical-align: middle;
}
.ui-my-selected-button {
    background: url(../img/ui-bg_flat_75_ffffff_40x100.png) repeat-x center;
}
#filter_pubdate_box .filter_pubdate_buttons {
    height: 18px;
}
#filter_pubdate_box .filter_pubdate_buttons span.ui-button-text {
    padding: 2px 5px 5px 5px;
    margin: 0px;
}
#filter_pubdate_datepicker {
    display: none;
    position: absolute;
}

/* type */
.type {
    max-width: 6em;
    width: 6em;
    text-align: center;
}
thead .type {
    text-align: center;
    vertical-align: middle;
}
#filter_type_pivot {
    width: 5em;
}

/* title */
.title {
    min-width: 30%;
}
#filter_title_text {
    min-width: 10em;
}
thead .title {
    text-align: center;
    vertical-align: bottom;
}

/* company */
.company {
    min-width: 20%;
}
#filter_company_dropdown {
    min-width: 6em;
}
thead .company {
    text-align: center;
    vertical-align: bottom;
}

/* location */
.location {
    min-width: 12%;
}

/* contract */
.contract {
    min-width: 10%;
}
#filter_contract_combobox {
    width: 5em;
}
thead .contract {
    text-align: center;
    vertical-align: middle;
}

/* salary */
.salary {
    min-width: 10%;
}
#filter_salary_feedback {
    float: left;
    padding: 5px;
    font-size: 1.2em;
}
#filter_salary_na_checkbox {
    vertical-align: top;
}
#filter_salary_na {
    display: inline;
    float: right;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#filter_salary_spacer {
    clear: both;
}
#filter_salary_root {
    margin-top: -15px;
    margin-left: 0.75em;
    margin-right: 0.75em;
    min-width: 5em;
}
.ui-slider-handle:nth-child(2) {
    background-image: url(../img/ui-icons_2e83ff_256x240.png) !important;
    background-position: -41px -2px !important;
    background-size: 307px 288px !important;
}
.ui-slider-handle:nth-child(3) {
    background-image: url(../img/ui-icons_2e83ff_256x240.png) !important;
    background-position: -118px -2px !important;
    background-size: 307px 288px !important;
}
.ui-slider-range {
    background: none;
    background-color: #50b0e0;
}

/* source */
.source {
    text-align: center;
    min-width: 4%;
}
#filter_source_combobox {
    width: 6em;
}
thead .source {
    vertical-align: middle;
}

/*
 * Pagination bar
 ******************************************************************************/
#pagination_bar_root {
    position: fixed;
    top: 10px;
    right: 0px;
}

#pagination_bar_root li:first-child {
    position: fixed;
    right: 11.5em;
}
