html, body, .container {
   height: 100%;
}
body > .container {
   height: auto;
   min-height: 100%;
   padding-bottom: 3em;
}
footer {
   clear: both;
   position: relative;
   bottom: 0px;
   z-index: 10;
   height: 3em;
   margin-top: -3em;
   text-align: center;
   color: #777;
   text-shadow: 0.2em 0.2em 0.05em rgba(128, 128, 255, 0.8);
}
