/*
 * navbar
 ******************************************************************************/
#button-github {
    background-image: url(../img/github.png);
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
}

/*
 * scrollbar on tbody
 ******************************************************************************/
body {
	overflow: hidden;
}
table#offers > thead > tr {
	position: relative;
}
table#offers > tbody {
	display: block;
	position: absolute;
	overflow: auto;
	height: 80%;
}

/*
 * table style
 ******************************************************************************/
#lineHeaders > th {
	text-align: center;
}
td.pubdate, th.pubdate {
	width: 7%;
	text-align: center;
}
td.type, th.type {
	width: 5%;
	text-align: center;
}
td.title, th.title {
	width: 27%;
}
td.company, th.company {
	width: 13%;
}
td.location, th.location {
	width: 10%;
}
td.contract, th.contract {
	width: 8%;
	text-align: center;
}
td.salary, th.salary {
	width: 20%;
}
td.source, th.source {
	width: 10%;
	text-align: center;
}

/*
 * footer fixed position
 ******************************************************************************/
html, body, .main {
   height: 100%;
}
body > .main {
   height: auto;
   min-height: 100%;
   padding-top: 5em;
   padding-bottom: 3em;
}
footer {
   clear: both;
   position: relative;
   bottom: 0px;
   z-index: 10;
   height: 3em;
   margin-top: -3em;
   text-align: center;
   color: #777;
}
